.custom-button{
    width: 100%;
    height: 15%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #B3B4B7;
    background-color: #212529;
    color: #B3B4B7;
    
}

.custom-button-hidden {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 0;

    @media screen and (max-width: 600px) {
        height: 5vh;
    }
}

.custom-button:hover,
.custom-button-hidden:hover {
    background-color: #434343;
    cursor: pointer;
}

.elem-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

.elem-text-hidden {
    font-size: 0.9rem;

    @media screen and (max-width: 600px) {
        font-size: 0.7rem;
    }
}

.custom-button:active {
    transform: scale(0.95, 0.95);
}