.show {
    display: block;
    backdrop-filter: blur(7px);
}

.login-modal {
    background-color: #1C1C23;
}

.login-modal-light {
    background-color: #E6EFD6;
}

.header {
    background-color: #636668;
}

.body,
.footer,
.header {
    color: #ffffff;
}

.body,
.footer {
    background-color: #323539;
}

.light-theme-main {
    background-color: #bbc5ab;
}

.light-theme-second {
    background-color: #d5e2bf;
    color: #323539;
}

.important-status-header {
    background-color: #DC3545;
}

.to-do-status-header {
    background-color: #0D6EFD;
}

.in-progress-status-header {
    background-color: #0DCAF0;
}

.done-status-header {
    background-color: #198754;
}