.show {
    display: block;
    backdrop-filter: blur(7px);
}

.header {
    background-color: #636668;
    color: #ffffff;
}

.body {
    background-color: #323539;
    color: #ffffff;
}

.footer {
    background-color: #323539;
    color: #ffffff;
}