.new-user-container {
    display: flex;
    justify-content: center;
}

.user-link {
    margin-left: 5px;
    text-decoration: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.form-button {
    width: 77px;
}