.section {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232323;

    @media screen and (max-width: 830px) {
        width: 100%;
    }
}

.text {
    font-size: 1.1rem;
    color: #ffffff;
}