.section {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232323;
}

.text {
    font-size: 1.1rem;
    color: #ffffff;
}