.form {
    cursor: default;
    .title,
    .status,
    .description {
        width: 90%;
    }
    .title::placeholder,
    .status::placeholder,
    .description::placeholder {
        color: #ffffff;
    }
    .add-task{
        width: 130px;
    }
}
