.form {
    cursor: default;
    display: flex;
    flex-direction: column;

    .title,
    .description,
    .light-theme,
    .date {
        width: 100%;
        box-shadow: 1px 2px 8px #000000;
    }

    .light-theme {
        color: #000000;
    }

    .title,
    .description,
    .date {
        color: #ffffff;
    }

    .status {
        align-self: center;
        width: 70%;
        margin-bottom: 20px;
        box-shadow: 1px 2px 8px #000000;

        & label[for*="btn"] {
            color: #ffffff;
        }

        @media screen and (max-width: 395px) {
            width: 100%;
            height: 30px;
        }
    }
    .title::placeholder,
    .status::placeholder,
    .description::placeholder,
    .date::placeholder {
        color: #ffffff;
    }

    .add-task,
    .close-button {
        width: 130px;
        box-shadow: 1px 2px 8px #000000;
    }

    .buttons-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .light-theme-status {

        & label[for*="btn"] {
            color: #374c61;
        }
    }
}
