.form {
    cursor: default;
    display: flex;
    flex-direction: column;
    .title,
    .description,
    .light-theme,
    .date {
        width: 100%;
    }
    .status {
        align-self: center;
        width: 70%;
        margin-bottom: 20px;
    }
    .title::placeholder,
    .status::placeholder,
    .description::placeholder {
        color: #ffffff;
    }
    .add-task{
        width: 130px;
    }
}
