.side-panel {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #232323;

    @media screen and (max-width: 830px) {
        display: none;
    }

    .period {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
