.toast {
    z-index: 1081;

    @media screen and (max-width: 395px) {
        width: 250px;
    }
}

.toast-el-succes {
    background-color: #157347;
    color: #ffffff;
}

.toast-el-warning {
    background-color: #FFCA2C;
    color: #000000;
}