.table {
    width: 80%;
    margin-top: 20px;
    color: #ffffff;
    border-color: #ffffff;

    @media screen and (max-width: 830px) {
        width: 95%;
        font-size: 0.8rem;
    }

    @media screen and (max-width: 600px) {
        font-size: 0.6rem;
    }
}

.heading-row {
    cursor: default;
}

.description-block {
    overflow-wrap: anywhere;
}
