.sort-block {
    width: 50%;
    height: 90%;
    display: none;

    @media screen and (max-width: 830px) {
        display: flex;
        justify-content: space-between;
    }

    @media screen and (max-width: 600px) {
        width: 100vw;
        margin-bottom: 28px;
    }
}