.sort-elem {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset -4px -4px 14px 4px rgba(0, 0, 0, 0.75);
    background-color: #232323;
    color: #ffffff;
    
}

.sort-elem:hover {
    background-color: #434343;
    cursor: pointer;
}

.elem-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

.sort-elem:active {
    transform: scale(0.95, 0.95);
}