.search-panel {
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 830px) {
        width: 95%;
    }

    @media screen and (max-width: 600px) {
        margin: 0;
        flex-direction: column;
        position: relative;
    }
}

.input{
    width: 15%;
    height: 90%;

    @media screen and (max-width: 830px) {
        height: 80%;
        font-size: 0.6rem;
    }

    @media screen and (max-width: 600px) {
        width: 40%;
        height: 3vh;
        margin-bottom: 5px;
        position: absolute;
        top: 50px;
        left: 0;
    }
}

.select {
    height: 90%;

    @media screen and (max-width: 830px) {
        height: 80%;
        font-size: 0.6rem;
    }

    @media screen and (max-width: 600px) {
        position: absolute;
        top: 50px;
        right: 0;
    }
}

.button {
    box-shadow: 1px 2px 8px #000000;

    @media screen and (max-width: 830px) {
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: 60px;
        font-size: 0.6rem;
        font-weight: 700;
    }

    @media screen and (max-width: 600px) {
        @media screen and (max-width: 600px) {
            height: 27px;
            padding-top: 0.3rem;
            position: absolute;
            top: 50px;
        }
    }
}