.search-panel {
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 830px) {
        width: 95%;
    }
}

.input{
    width: 15%;
    height: 90%;
}

.select {
    height: 90%;
}