.selectMenu {
    width: 20%;
}

.in-progress {
    background: #597EAA;
}

.done {
    background: #93C47D;
}

.to-do {
    background: #F6B26B;
}

.important {
    background: #E06666;
}

.hide {
    display: none;
}

.show {
    display: table-row;
}