.selectMenu {
    width: 15%;

    @media screen and (max-width: 600px) {
        width: 40%;
        height: 3vh;
        margin-bottom: 5px;
    }
}

.in-progress {
    background: #0DCAF0;
}

.done {
    background: #198754;
}

.to-do {
    background: #0D6EFD;
}

.important {
    background: #DC3545;
}

.hide {
    display: none;
}

.show {
    display: table-row;
}

.option {
    font-size: 1.1rem;

    @media screen and (max-width: 830px) {
        font-size: 0.9rem;
    }
}

